<%= form_for(@ou) do |f| %>
  <% if @ou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ou.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @ou.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name, :class => "text" %>
	</p>
	<p>
    	<%= f.label :parents, "Parent Organization" %><br />
    	<%= f.text_field :parent_tokens, "data-pre" => @ou.parents.to_json, "method" => url_for(:controller => "api/ous", :action => "index") %>
	</p>
  <p>
    	<%= f.submit "Save Changes", :class => "submit mid" %>
  </p>
<% end %>
