<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Organization: <%= @ou.name %></h2>
		
		<ul class="tabs">
			<li><a href="#">Overview</a></li>
			<li><%= link_to 'Edit', edit_ou_path(@ou) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<p>
		  <b>Name:</b>
		  <%= @ou.name %>
		</p>
		
		<% @ou.managers.each do |manager| %>
		<p>
		  <b>Manager:</b>
		  <%= manager.name %>
		</p>
		<% end %>
		
		<h2>Members</h2>
		<ul>
		  <% @ou.members.each do |member| %>
		    <li><%= link_to member.name, member %></li>
		  <% end %>
		</ul>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
