<div id="entity_details">
  <div class="block withsidebar popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
			
      <button class="right" style="margin-top: 14px;" id="edit">Edit</button>
      
  		<h2><%= @person.first %> <%= @person.last %></h2>
  	</div>		<!-- .block_head ends -->
  	<div class="block_content">
      <div id="person_show_view">
    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#show_summary">Summary</a></li>
    				<li><a href="#show_roles">Roles</a></li>
    				<li><a href="#show_applications">Applications</a></li>
    				<li><a href="#show_subordinates">Subordinates</a></li>
            <li><a href="#show_memberships">Memberships</a></li>
    			</ul>
				
    			<p><strong><a href="mailto:<%= @person.email %>">E-Mail This Person</a></strong><br />
          <strong><a href="#">View Their Tickets</a></strong><br />
          <strong><a href="#">Call Them via Lync</a></strong></p>
    		</div>		<!-- .sidebar ends -->
			
    		<div class="sidebar_content" id="show_summary">
          <p>
            <i><% @person.classifications.each do |classification| %>
              <%= classification.name %>
            <% end %></i><br />
            <%= mail_to @person.email, @person.email %><br />
            <br />
            <% if @person.phone != nil and @person.phone.length > 0 %>
              <%= number_to_phone @person.phone, :area_code => true %><br />
            <% end %>
            <%= @person.address %><br />
          </p>
        </div>
    		<div class="sidebar_content" id="show_roles">
          <ul>
            <% @person.roles.each do |role| %>
              <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
            <% end %>
          </ul>
        </div>
    		<div class="sidebar_content" id="show_applications">
          applications
        </div>
    		<div class="sidebar_content" id="show_subordinates">
          subordinates
        </div>
    		<div class="sidebar_content" id="show_memberships">
          <b>Groups:</b><br />
          <ul>
            <% @person.groups.each do |group| %>
          	  <li><%= link_to group.name, group %></li>
          	<% end %>
          </ul>
          <br />
          <b>Organizational Units:</b><br />
          <ul>
            <% @person.ous.each do |ou| %>
          	  <li><%= link_to ou.name, ou %></li>
          	<% end %>
          </ul>
        </div>
      </div> <!-- #person_show_view -->

      <div id="person_edit_view" style="display: none;">
    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#edit_summary">Summary</a></li>
    				<li><a href="#edit_roles">Roles</a></li>
    				<li><a href="#edit_applications">Applications</a></li>
    				<li><a href="#edit_subordinates">Subordinates</a></li>
            <li><a href="#edit_memberships">Memberships</a></li>
    			</ul>
				  
    			<p><strong><a href="mailto:<%= @person.email %>">E-Mail This Person</a></strong><br />
          <strong><a href="#">View Their Tickets</a></strong><br />
          <strong><a href="#">Call Them via Lync</a></strong></p>
    		</div>		<!-- .sidebar ends -->
        
    		<div class="sidebar_content" id="edit_summary">
          <%= form_for(@person) do |f| %>
        	<p>
            <%= f.label :first %><br />
            <%= f.text_field :first, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :last %><br />
            <%= f.text_field :last, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :email %><br />
            <%= f.text_field :email, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :loginid %><br />
            <%= f.text_field :loginid, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :preferred_name %><br />
            <%= f.text_field :preferred_name, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :phone %><br />
            <%= f.text_field :phone, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :address %><br />
            <%= f.text_field :address, :class => "text" %>
        	</p>
          <% end %>
        </div>
    		<div class="sidebar_content" id="edit_roles">
          <ul>edit mode
            <% @person.roles.each do |role| %>
              <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
            <% end %>
          </ul>
        </div>
    		<div class="sidebar_content" id="edit_applications">
          applications edit mode
        </div>
    		<div class="sidebar_content" id="edit_subordinates">
          <%= form_for(@person) do |f| %>
          <p>
            	<%= f.label :subordinates, "Subordinates <small>(Only subordinates not via group ownership)</small>".html_safe %><br />
            	<%= f.text_field :subordinate_tokens, "data-pre" => @person.subordinates.to_json, "method" => url_for(:controller => "api/people", :action => "index") %>
          </p>
          <% end %>
        </div>
    		<div class="sidebar_content" id="edit_memberships">
          <%= form_for(@person) do |f| %>
          <b>Groups:</b><br />
          <p>
            	<%= f.text_field :group_tokens, "data-pre" => @person.groups.to_json, "method" => url_for(:controller => "api/groups", :action => "index") %>
          </p>

          <b>Organizational Units:</b><br />
          <p>
            	<%= f.text_field :ou_tokens, "data-pre" => @person.ous.to_json, "method" => url_for(:controller => "api/ous", :action => "index") %>
          </p>
          <% end %>
        </div>
      </div> <!-- #person_edit_view -->
      
    </div> <!-- .block_content ends -->
  </div> <!-- .block ends -->
</div> <!-- .entity_details -->

<script type="text/javascript">
// setup JS specific to person view
$("button#edit").click(function() {
  // Button is a toggle. Are we turning the editing controls on or off?
  if($(this).html() == "Edit") {
    // turning editing on
    $(this).html("Done").css("color", "#db6c67");
    
    $(this).parent().parent().find("div#person_show_view").hide();
    $(this).parent().parent().find("div#person_edit_view").show();
    
    // simulate a click on the matching sidebar tab
    var tab_hash = $("div#person_show_view ul.sidemenu li.active").children("a").attr("href");
    $("div#person_edit_view ul.sidemenu li a[href=#edit_" + tab_hash.substr(6) + "]").parent().click();
  } else {
    // turning editing off
    $(this).html("Edit").css("color", "#000");
    
    $(this).parent().parent().find("div#person_edit_view").hide();
    $(this).parent().parent().find("div#person_show_view").show();

    // simulate a click on the matching sidebar tab
    var tab_hash = $("div#person_edit_view ul.sidemenu li.active").children("a").attr("href");
    $("div#person_show_view ul.sidemenu li a[href=#show_" + tab_hash.substr(6) + "]").parent().click();
  }
}).hover(
  // fix jQuery's CSS hover mistake. TODO: fix this using css / apprise patching instead?
  function() {
    $(this).css("color", "#db6c67");
  },
  function() {
    if($(this).html() == "Edit") {
      $(this).css("color", "#000");
    } else {
      $(this).css("color", "#1eaaeb");
    }
  }
);

$("#person_ou_tokens").tokenInput($("#person_ou_tokens").attr("method") + ".json", {
  crossDomain: false,
  prePopulate: $("#person_ou_tokens").data("pre"),
  theme: "facebook"
});

$("#person_group_tokens").tokenInput($("#person_group_tokens").attr("method") + ".json", {
  crossDomain: false,
  prePopulate: $("#person_group_tokens").data("pre"),
  theme: "facebook"
});

$("#person_subordinate_tokens").tokenInput($("#person_subordinate_tokens").attr("method") + ".json", {
  crossDomain: false,
  prePopulate: $("#person_subordinate_tokens").data("pre"),
  theme: "facebook"
});

</script>
