<div id="person_details">
  <div class="block withsidebar popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
			
      <button class="right" style="margin-top: 14px;" id="edit">Edit</button>
      
  		<h2><%= @person.first %> <%= @person.last %></h2>
  	</div>		<!-- .block_head ends -->
  	<div class="block_content">
  		<div class="sidebar">
  			<ul class="sidemenu">
  				<li><a href="#summary">Summary</a></li>
  				<li><a href="#roles">Roles</a></li>
  				<li><a href="#applications">Applications</a></li>
  				<li><a href="#ownerships">Ownerships</a></li>
          <li><a href="#memberships">Memberships</a></li>
  			</ul>
				
  			<p><strong><a href="mailto:<%= @person.email %>">E-Mail This Person</a></strong><br />
        <strong><a href="#">View Their Tickets</a></strong><br />
        <strong><a href="#">Call Them via Lync</a></strong></p>
  		</div>		<!-- .sidebar ends -->
					
  		<div class="sidebar_content" id="summary">
        <p>
          <i><% @person.classifications.each do |classification| %>
            <%= classification.name %>
          <% end %></i><br />
          <%= mail_to @person.email, @person.email %><br />
          <br />
          <% if @person.phone != nil and @person.phone.length > 0 %>
            <%= number_to_phone @person.phone, :area_code => true %><br />
          <% end %>
          <%= @person.address %><br />
        </p>
      </div>
  		<div class="sidebar_content" id="roles">
        <ul>
          <% @person.roles.each do |role| %>
            <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
          <% end %>
        </ul>
      </div>
  		<div class="sidebar_content" id="applications">
        applications
      </div>
  		<div class="sidebar_content" id="ownerships">
        ownerships
      </div>
  		<div class="sidebar_content" id="memberships">
        <b>Groups:</b><br />
        <ul>
          <% @person.groups.each do |group| %>
        	  <li><%= link_to group.name, group %></li>
        	<% end %>
        </ul>
        <br />
        <b>Organizational Units:</b><br />
        <ul>
          <% @person.ous.each do |ou| %>
        	  <li><%= link_to ou.name, ou %></li>
        	<% end %>
        </ul>
      </div>
    </div> <!-- .block_content ends -->
  </div> <!-- .block ends -->
</div> <!-- .person_details -->

<script type="text/javascript">
// setup JS specific to person view
$("button#edit").click(function() {
  // Button is a toggle. Are we turning the editing controls on or off?
  if($(this).html() == "Edit") {
    // turning them on
    $(this).html("Done").css("color", "#db6c67");
  } else {
    // turning them off
    $(this).html("Edit").css("color", "#000");
  }
}).hover(
  // fix jQuery's CSS hover mistake. TODO: fix this using css / apprise patching instead?
  function() {
    $(this).css("color", "#db6c67");
  },
  function() {
    if($(this).html() == "Edit") {
      $(this).css("color", "#000");
    } else {
      $(this).css("color", "#1eaaeb");
    }
  }
);
</script>
