<h1><%= @person.first %> <%= @person.last %></h1>

<p>
  <i><% @person.classifications.each do |classification| %>
    <%= classification.name %>
  <% end %></i><br />
  <%= mail_to @person.email, @person.email %><br />
  <br />
  <% if @person.phone != nil and @person.phone.length > 0 %>
    <%= number_to_phone @person.phone, :area_code => true %><br />
  <% end %>
  <%= @person.address %><br />
</p>
<!--
<h2>Roles</h2>
<ul>
  <% @person.roles.each do |role| %>
    <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
  <% end %>
</ul>
			
<h2>Group Memberships</h2>
<ul>
  <% @person.groups.each do |group| %>
	  <li><%= link_to group.name, group %></li>
	<% end %>
</ul>
			
<h2>Organization Memberships</h2>
<ul>
  <% @person.ous.each do |ou| %>
	  <li><%= link_to ou.name, ou %></li>
	<% end %>
</ul>
-->