<div id="entity_details">
  <div class="block withsidebar popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
			
      <button class="right" style="margin-top: 14px;" id="edit">Edit</button>
      
  		<h2><%= @person.first %> <%= @person.last %></h2>
  	</div>		<!-- .block_head ends -->
  	<div class="block_content">
      <div id="details_view">
    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#summary">Summary</a></li>
    				<li><a href="#roles">Roles</a></li>
    				<li><a href="#applications">Applications</a></li>
    				<li><a href="#subordinates">Subordinates</a></li>
            <li><a href="#memberships">Memberships</a></li>
    			</ul>
				  
    			<p><strong><a href="mailto:<%= @person.email %>">E-Mail This Person</a></strong><br />
          <strong><a href="#">View Their Tickets</a></strong><br />
          <strong><a href="#">Call Them via Lync</a></strong></p>
    		</div>		<!-- .sidebar ends -->
        
        <%= form_for(@person) do |f| %>
    		<fieldset class="sidebar_content" id="summary">
        	<p>
            <%= f.label :first, "Name" %><br />
            <%= f.text_field :first, :class => "text small" %> <%= f.text_field :last, :class => "text small" %>
        	</p>
        	<p>
            <%= f.label :preferred_name, "Preferred Name" %><br />
            <%= f.text_field :preferred_name, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :email %> <%= f.label :loginid, "Login ID", :style => "padding-left: 127px;" %><br />
            <%= f.text_field :email, :class => "text small" %> <%= f.text_field :loginid, :class => "text small" %>
        	</p>
        	<p>
            <%= f.label :phone %><br />
            <%= f.text_field :phone, :class => "text" %>
        	</p>
        	<p>
            <%= f.label :address %><br />
            <%= f.text_field :address, :class => "text" %>
        	</p>
        </fieldset>
    		<fieldset class="sidebar_content" id="roles">
          <p>
            An audit of this person's roles is displayed below.
          </p>
          <p>
            <b>To add or remove roles</b> which you have given this person, use the main interface.
          </p>
          <ul>
            <% @person.roles.each do |role| %>
            <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
            <% end %>
          </ul>
        </fieldset>
    		<fieldset class="sidebar_content" id="applications">
          <p>
            An audit of this person's application access is displayed below.
          </p>
          <p>
            <b>To add or remove applications</b> which you have given this person, use the main interface.
          </p>
          <ul>
            <% @person.applications.each do |app| %>
            <li><%= link_to app.name, app %></li>
            <% end %>
          </ul>
        </fieldset>
    		<fieldset class="sidebar_content" id="subordinates">
          <p>
            	<%= f.label :subordinates, "Subordinates <small>(Only subordinates not via group ownership)</small>".html_safe %><br />
            	<%= f.text_field :subordinate_tokens, "data-pre" => @person.subordinates.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
          </p>
        </fieldset>
    		<fieldset class="sidebar_content" id="memberships">
          <b>Groups:</b><br />
          <p>
            	<%= f.text_field :group_tokens, "data-pre" => @person.groups.to_json, "method" => url_for(:controller => "api/groups", :action => "index"), :class => "token_input" %>
          </p>

          <b>Organizational Units:</b><br />
          <p>
            	<%= f.text_field :ou_tokens, "data-pre" => @person.ous.to_json, "method" => url_for(:controller => "api/ous", :action => "index"), :class => "token_input" %>
          </p>
        </fieldset>
        <% end %>
        
      </div> <!-- #person_edit_view -->
    </div> <!-- .block_content ends -->
  </div> <!-- .block ends -->
</div> <!-- .entity_details -->

<script type="text/javascript" src="<%= asset_path "details_modal.js" %>"></script>
