<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<p>
    <%= f.label :first %><br />
    <%= f.text_field :first, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :last %><br />
    <%= f.text_field :last, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :loginid %><br />
    <%= f.text_field :loginid, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :preferred_name %><br />
    <%= f.text_field :preferred_name, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :status %><br />
    <%= f.check_box :status, :class => "checkbox" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :address %><br />
    <%= f.text_field :address, :class => "text" %>
	</p>
  </div>
  <div class="actions">
	<p>
    <%= f.submit "Submit", :class => "submit mid" %>
	</p>
  </div>
<% end %>
