<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block withsidebar">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Editing <%= @person.preferred_name %></h2>
		
		<ul class="tabs">
			<li><%= link_to 'Overview', person_path(@person) %></li>
			<li><a href="#revisions_tab">Revisions</a></li>
			<li class="active"><a href="#edit_tab">Edit</a></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content tab_content" id="edit_tab">
		<div class="sidebar">
			<ul class="sidemenu">
				<li><a href="#basics">Basics</a></li>
				<li><a href="#roles">Roles</a></li>
				<li><a href="#groups">Groups</a></li>
				<li><a href="#ous">Organizations</a></li>
			</ul>
			
			<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
		</div>		<!-- .sidebar ends -->
		
		<div class="sidebar_content" id="basics">
		  <%= render 'basics_form' %>
		</div> <!-- #sb1 -->
		
		<div class="sidebar_content" id="roles">
		  <%= render 'roles_form' %>
		</div> <!-- sb2 -->
		
		<div class="sidebar_content" id="groups">
		  <%= render 'groups_form' %>
		</div> <!-- #sb3 -->

		<div class="sidebar_content" id="ous">
		  <%= render 'ous_form' %>
		</div> <!-- #sb4 -->
	</div> <!-- .block_content -->

	<div class="block_content tab_content" id="revisions_tab">

	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
