<div class="modal" id="details_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @person.first %> <%= @person.last %></h3>
  </div>
  <div class="modal-body">

    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#roles" data-toggle="tab">Roles</a></li>
        <li><a href="#applications" data-toggle="tab">Applications</a></li>
        <li><a href="#subordinates" data-toggle="tab">Subordinates</a></li>
        <li><a href="#memberships" data-toggle="tab">Memberships</a></li>
      </ul>
      <div class="tab-content">
        <%= form_for @person, :remote => true do |f| %>
        <%= hidden_field_tag 'person_id', @person.id.to_s %>
    		<fieldset class="tab-pane active" id="summary">
            <%= f.label :first, "Name" %>
            <%= f.text_field :first, :class => "text small" %> <%= f.text_field :last, :class => "text small" %>
            <%= f.label :preferred_name, "Preferred Name" %>
            <%= f.text_field :preferred_name, :class => "text" %>
            <%= f.label :email %>
            <%= f.text_field :email, :class => "text small" %>
            <%= f.label :loginid, "Login ID" %>
            <%= f.text_field :loginid, :class => "text small" %>
            <%= f.label :phone %>
            <%= f.text_field :phone, :class => "text" %>
            <%= f.label :address %>
            <%= f.text_field :address, :class => "text" %>
        </fieldset>
    		<fieldset class="tab-pane" id="roles">
          <p>
            An audit of this person's roles is displayed below.
          </p>
          <p>
            <b>To add or remove roles</b> which you have given this person, use the main interface.
          </p>
          <ul>
            <% @person.roles.each do |role| %>
            <li><%= role.descriptor %> (<%= role.token %>) for <%= link_to role.application.name, role.application %></li>
            <% end %>
          </ul>
        </fieldset>
    		<fieldset class="tab-pane" id="applications">
          <p>
            An audit of this person's application access is displayed below.
          </p>
          <p>
            <b>To add or remove applications</b> which you have given this person, use the main interface.
          </p>
          <ul>
            <% @person.applications.each do |app| %>
            <li><%= link_to app.name, app %></li>
            <% end %>
          </ul>
        </fieldset>
    		<fieldset class="tab-pane" id="subordinates">
          <p>
            	<%= f.label :subordinates, "Subordinates <small>(Only subordinates not via group ownership)</small>".html_safe %>
            	<%= f.text_field :subordinate_tokens, "data-pre" => @person.subordinates.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
          </p>
        </fieldset>
    		<fieldset class="tab-pane" id="memberships">
          <b>Groups:</b><br />
          <p>
            	<%= f.text_field :group_tokens, "data-pre" => @person.groups.to_json, "method" => url_for(:controller => "api/groups", :action => "index"), :class => "token_input" %>
          </p>

          <b>Organizational Units:</b><br />
          <p>
            	<%= f.text_field :ou_tokens, "data-pre" => @person.ous.to_json, "method" => url_for(:controller => "api/groups", :action => "index"), :class => "token_input" %>
          </p>
        </fieldset>
        <% end %>
      </div>
    </div> <!-- /tabbable -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="apply">Apply changes</a>
  </div>
</div>
