<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block withsidebar">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2><%= @person.preferred_name %></h2>
		
		<ul class="tabs">
			<li><a href="#overview_tab">Overview</a></li>
			<li><a href="#revisions_tab">Revisions</a></li>
			<li><%= link_to 'Edit', edit_person_path(@person) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content tab_content" id="overview_tab">
		<div class="sidebar">
			<ul class="sidemenu">
				<li><a href="#basics">Basics</a></li>
				<li><a href="#roles">Roles</a></li>
				<li><a href="#groups">Groups</a></li>
				<li><a href="#ous">Organizations</a></li>
			</ul>
			
			<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
		</div>		<!-- .sidebar ends -->
		
		<div class="sidebar_content" id="basics">
			<div class="right">
				<%= image_tag "../images/no_photo.gif" %>
			</div>
			
			<p>
			  <b>First:</b>
			  <%= @person.first %>
			</p>

			<p>
			  <b>Last:</b>
			  <%= @person.last %>
			</p>

			<p>
			  <b>Email:</b>
			  <%= mail_to @person.email, @person.email, :encode => "javascript" %>
			</p>

			<p>
			  <b>Kerberos ID:</b>
			  <%= @person.loginid %>
			</p>

			<p>
			  <b>Status:</b>
			  <% if @person.status %>
			    Active
			  <% else %>
			    Inactive
			  <% end %>
			</p>

			<p>
			  <b>Phone:</b>
			  <% if @person.phone != nil and @person.phone.length > 0 %>
			    <%= number_to_phone @person.phone, :area_code => true %>
			  <% end %>
			</p>

			<p>
			  <b>Address:</b>
			  <%= @person.address %>
			</p>
		</div> <!-- #sb1 -->
		
		<div class="sidebar_content" id="roles">
			<h2>Roles</h2>
			<ul>
			  <% @person.roles.each do |role| %>
			    <li><%= role.name %> for <%= link_to role.application.name, role.application %></li>
			  <% end %>
			</ul>
		</div> <!-- sb2 -->
		
		<div class="sidebar_content" id="groups">
			<h2>Group Memberships</h2>
			<ul>
			  <% @person.groups.each do |group| %>
				  <li><%= link_to group.name, group %></li>
				<% end %>
			</ul>
		</div> <!-- #sb3 -->
		<div class="sidebar_content" id="ous">
			<h2>Organization Memberships</h2>
			<ul>
			  <% @person.ous.each do |ou| %>
				  <li><%= link_to ou.name, ou %></li>
				<% end %>
			</ul>
		</div> <!-- #sb4 -->
	</div> <!-- .block_content -->

	<div class="block_content tab_content" id="revisions_tab">

	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
