<div id="entity_details">
  <div class="block withsidebar popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
		  
      <button class="right" style="margin-top: 14px;" id="edit">Edit</button>
      
  		<h2><%= @application.name %></h2>
  	</div> <!-- .block_head -->
  	<div class="block_content">
      <div id="details_view">
    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#summary">Summary</a></li>
            <li><a href="#roles">Roles</a></li>
            <li><a href="#ad">Active Directory</a></li>
    			</ul>
    		</div>		<!-- .sidebar ends -->
		  
        <%= form_for @application, :remote => true do |f| %>
        <%= hidden_field_tag 'app_id', @application.id.to_s %>
    		<fieldset class="sidebar_content" id="summary">
        	<p>
            	<%= f.label :name %><br />
            	<%= f.text_field :name, :class => "text medium" %>
        	</p>
        	<p>
            	<%= f.label :display_name, "Display Name" %><br />
            	<%= f.text_field :display_name, :class => "text medium" %>
        	</p>
        	<p>
            	<%= f.label :description %><br />
            	<%= f.text_field :description, :class => "text medium" %>
        	</p>
        	<p>
            	<%= f.label :hostname %><br />
            	<%= f.text_field :hostname, :class => "text medium" %>
        	</p>
        	<p>
            	<%= f.label :api_key, "API Key" %><br />
            	<%= f.text_field :api_key, :class => "text medium", :disabled => 'disabled' %>
        	</p>
    			<p>
    			  <%= f.label :ou_tokens, "Organizational Scoping" %><br />
        	  <%= f.text_field :ou_tokens, "data-pre" => @application.ous.to_json, "method" => url_for(:controller => "api/ous", :action => "index"), :class => "token_input" %>
    			</p>
          <p>
            <label>Sympa URL:</label><br />
            <input type="text" class="text medium" value="<%= url_for( :controller => 'api/applications', :action => 'show', :id => @application.name, :only_path => false ) %>.txt" disabled />
          </p>
    		</fieldset> <!-- summary -->
    		<fieldset class="sidebar_content" id="roles">
          <table>
            <tr>
              <th>Token</th>
              <th>Default</th>
              <th>Descriptor</th>
              <th>Description</th>
              <th><!-- Actions --></th>
            </tr>
            <%= f.fields_for :roles do |builder| %>
              <%= render "role_fields", :f => builder %>
            <% end %>
          </table>
          <p><%= link_to_add_fields "Add Role", f, :roles %></p>
    		</fieldset> <!-- roles -->
    		<fieldset class="sidebar_content" id="ad">
        	<p>
            	<%= f.label :ad_path, "Active Directory Group Name" %><br />
            	<%= f.text_field :ad_path, :class => "text medium", "data-default-text" => "Not set" %>
        	</p>
          <p>
            <small>The group name is appended after the base AD path configured by the administrator.</small>
          </p>
    		</fieldset> <!-- ad -->
        <% end %>
      </div> <!-- #details_view -->
  	</div> <!-- .block_content -->
	
  	<div class="bendl"></div>
  	<div class="bendr"></div>
  </div> <!-- .block -->
</div> <!-- #application_details -->

<script type="text/javascript" src="<%= asset_path "details_modal.js" %>"></script>
