<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Basics</h2>
	  <p style="clear: none;">
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => "text" %>
	  </p>
  </div>
  <div class="field">
  	<p style="clear: none;">
      <%= f.label :display_name, "Display Name" %><br />
      <%= f.text_field :display_name, :class => "text" %>
  	</p>
  </div>
  <div class="field">
  	<p style="clear: none;">
      <%= f.label :hostname, "Hostname (e.g. my.dss.ucdavis.edu)" %><br />
      <%= f.text_field :hostname, :class => "text" %>
  	</p>
  </div>
  <div class="field">
  	<p style="clear: none;">
      <%= f.label :api_key, "API Key (Not editable but can be reset below)" %><br />
      <%= f.text_field :api_key, :class => "text", :disabled => true %>
  	</p>
  </div>
  <div class="field">
  	<p>
  		<h2>Organizational Scoping</h2>
  		<p>
  		  <%= f.label :ou_tokens, "OUs" %><br />
  		  <%= f.text_field :ou_tokens, "data-pre" => @application.ous.to_json, "method" => url_for(:controller => "api/ous", :action => "index") %>
  		</p>
  	</p>
  </div>
  <div class="actions">
  	<p style="clear: none;">
      <%= f.submit "Submit", :class => "submit mid", :value => "submit" %>
  	  <%= f.submit "Reset API Key", :class => "submit mid", :confirm => "Are you sure you want to reset the API key?", :value => "reset" %>
  	</p>
  </div>
<% end %>
