<tr class="fields">
  <td><%= f.text_field :token, :size => 8 %></td>
  <td><%= f.check_box :default %></td>
  <td><%= f.text_field :descriptor, :size => 13, :id => "application-descriptor" %></td>
  <td><%= f.text_field :description, :size => 20, :id => "application-description" %></td>
  <td><%= link_to_remove_fields "Remove", f %></td>
</tr>
