<tr class="fields">
  <td><%= f.text_field :token, :size => 8 %></td>
  <td><%= f.check_box :default %></td>
  <td><%= f.text_field :descriptor, :size => 13 %></td>
  <td><%= f.text_field :description, :size => 20 %></td>
  <td><%= link_to_remove_fields "Remove", f %></td>
</tr>
