<%= content_for :javascript do -%>
  <%= javascript_include_tag "controllers/" + params[:controller] %>
  <%= javascript_include_tag "cards" %>
<% end %>

<script id="tmpl-pin" type="text/template">
  <li data-uid="{{= entity.uid }}"><i class="icon-remove" rel="tooltip" title="Remove"></i> <i class="icon-search" rel="tooltip" title="See details"></i>{{= entity.name }}</li>
</script>

<div id="modal_container"></div>

<script type="text/json" id="bootstrap">
  {
    "entities": <%= current_user.manageable_uids.to_json %>,
    "applications": <%= current_user.manageable_applications.to_json %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      cards.manageable_uids = data.manageable_uids;
      applications.applications = data.available_applications;

      cards.initialize();

      DssRm.initialize(data);
    });
  </script>
<% end %>
