<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Applications</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<table>
		  <tr>
		    <th></th>
		    <th>Name</th>
		    <th>Api key</th>
		    <th></th>
		  </tr>

		<% @applications.each do |application| %>
		  <tr>
		    <td style="text-align: center;"><% if application.icon.exists? %><%= image_tag application.icon.url(:tiny) %><% end %></td>
		    <td><%= link_to application.name, application %></td>
		    <td><%= application.api_key %></td>
		    <td><%= link_to 'Destroy', application, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Application', new_application_path %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
