<%= javascript_include_tag "controllers/" + params[:controller] %>
<%= javascript_include_tag "cards" %>

<script id="tmpl-card" type="text/template">
  <div class="card span4" data-application-id="{{= app.id }}" data-uids="{{= app.uids }}">
      <div class="card-title"><h3>{{= app.display_name }}</h3><i class="icon-search" id="entity_details"></i></div>
      <div class="card-content">
        <div class="pins">
          {{ _.each(app.roles, function(role) { }}
          <div class="pin"><a href="#">{{= role.descriptor }}</a></div>
          {{ }) }}
        </div>
      </div>
	  </div> <!-- card -->
</script>

<script id="tmpl-pin" type="text/template">
  <li data-uid="{{= entity.uid }}"><i class="icon-remove" onClick="javascript:applications.delete_group($(this).parent().data('pin-entity'));"></i> <i class="icon-search"></i>{{= entity.name }}</li>
</script>

<div class="row-fluid">
  <div class="span9" id="left">
    
    <form class="form-search">
      <%= content_tag :input, nil, {:class => "input-xxlarge search-query", :type => "text", :id => "search_applications", :placeholder => "Search applications…" } %>
    </form>
    
    <% current_user.manageable_applications.each_with_index do |app, i| %>
    <script type="text/javascript">
      applications.applications[<%= app.id %>] = <%= app.to_json.html_safe %>;
      applications.current_user_id = <%= current_user.id %>;
    </script>
    <% end %>
    
    <div id="cards"></div>
  
  </div> <!-- /.span9 -->
  <div class="span3" id="right">
    
    <form class="form-search">
      <input id="search_people_groups" placeholder="Search people and groups…" type="text" class="input-large search-query">
    </form>
    
	  <ul class="pins" id="entity_list"></ul>
  </div> <!-- /.span3 -->
</div>

<div id="modal_container"></div>
