<div id="applications"></div>

<!-- current_user_admin/operator is merely for UI purposes - backend performs its own checks -->
<script type="text/json" id="bootstrap">
  {
    <% cache(cache_key_for_current_user) do %>
    "current_user"      : <%=
      {
        id: current_user.id,
        type: 'Person',
        name: current_user.name,
        favorites: current_user.favorites.map { |f| { id: f.id, name: f.name, type: f.type } },
        group_ownerships: current_user.group_ownerships.map { |o| { group_id: o.group_id, name: o.group.name } },
        group_operatorships: current_user.group_operatorships.map { |o| { group_id: o.group_id, name: o.group.name } }
      }.to_json %>,
    <% end %>
    <% cache(cache_key_for_applications) do %>
    "applications"      : <%= @applications.to_json %>,
    <% end %>
    "current_user_admin": <%= has_role?(:admin) %>,
    "current_user_operator": <%= has_role?(:operate) %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      DssRm.initialize(data);
    });

    // Refresh every 15 minutes (900000 ms) to lessen front-end/back-end
    // consistency errors that can occur when the user leaves the page open.
    setTimeout(function () {
      window.location.href = Routes.applications_path();
    }, 900000);
  </script>
<% end %>
