<%= javascript_include_tag "controllers/" + params[:controller] %>

<div class="row-fluid">
  <div class="span9">
    
    <form class="form-search">
      <input placeholder="Search applications…" type="text" class="input-xxlarge search-query">
    </form>
    
    <% current_user.manageable_applications.each_with_index do |app, i| %>
    <script type="text/javascript">
      site.applications[<%= app.id %>] = <%= app.to_json.html_safe %>;
      site.current_user_id = <%= current_user.id %>;
    </script>
    <div class="card span4" data-application="<%= app.to_json %>" data-application-id="<%= app.id %>">
      <div class="card-title"><h3><%= app.display_name %></h3><i class="icon-search" id="entity_details"></i></div>
      <div class="card-content">
        <div class="pins">
          <% app.roles.each do |role| %>
          <div class="pin"><a href="#"><%= role.descriptor %></a></div>
          <% end %>
        </div>
      </div>
	  </div> <!-- card -->
  <% end %>
  
  </div> <!-- /.span9 -->
  <div class="span3">
    
    <form class="form-search">
      <input id="search_people_groups" placeholder="Search people and groups…" type="text" class="input-large search-query">
    </form>
    
	  <ul class="pins" id="master_list"></ul>
  </div> <!-- /.span3 -->
</div>

<div id="modal_container"></div>
