<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block withsidebar">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2><%= @application.name %></h2>
		
		<ul class="tabs">
			<li><a href="#">Overview</a></li>
			<li><%= link_to 'Edit', edit_application_path(@application) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<div class="sidebar">
			<ul class="sidemenu">
				<li><a href="#sb1">Basics</a></li>
				<li><%= link_to "Roles", application_roles_path(@application) %></li>
			</ul>
			
			<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
		</div>		<!-- .sidebar ends -->
		
		<div class="sidebar_content" id="sb1">
			<p>
			  <b>Name:</b>
			  <%= @application.name %>
			</p>
			<p>
			  <b>Display Name:</b>
			  <%= @application.display_name %>
			</p>
			<p>
			  <b>Hostname:</b>
			  <%= @application.hostname %>
			</p>
			<p>
			  <b>API Key:</b>
			  <%= @application.api_key %>
			</p>
			<p>
			  <b>Organizational Scoping <small><i>(who has access)</i></small>:</b>
			  <ul>
			  <% @application.ous.each do |ou| %>
			  	<li><%= link_to ou.name, ou %></li>
			  <% end %>
			  <% if @application.ous.count == 0 %>
			    <li>Everybody</li>
			  <% end %>
			  </ul>
			</p>
		</div> <!-- sb1 -->
		<div class="sidebar_content" id="sb2">
		</div> <!-- sb2 -->
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
