<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2><%= @application.name %></h2>
		
		<ul class="tabs">
			<li><a href="#">Overview</a></li>
			<li><%= link_to 'Edit', edit_application_path(@application) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<p>
		  <b>Name:</b>
		  <%= @application.name %>
		</p>
		<p>
		  <b>Hostname:</b>
		  <%= @application.hostname %>
		</p>
		<p>
		  <b>API Key:</b>
		  <%= @application.api_key %>
		</p>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
