<div class="modal" id="details_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @application.name %></h3>
  </div>
  <div class="modal-body">

    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#roles" data-toggle="tab">Roles</a></li>
        <li><a href="#ad" data-toggle="tab">Active Directory</a></li>
      </ul>
      <div class="tab-content">
        <%= form_for @application, :remote => true do |f| %>
        <%= hidden_field_tag 'app_id', @application.id.to_s %>
    		<fieldset class="tab-pane active" id="summary">
        	<%= f.label :name %>
        	<%= f.text_field :name %>
        	<%= f.label :display_name, "Display Name" %>
        	<%= f.text_field :display_name %>
        	<%= f.label :description %>
        	<%= f.text_field :description %>
  			  <%= f.label :owner_tokens, "Owners" %>
      	  <%= f.text_field :owner_tokens, "data-pre" => @application.owners.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
  			  <%# f.label :ou_tokens, "Organizational Scoping" %>
      	  <%# f.text_field :ou_tokens, "data-pre" => @application.ous.to_json, "method" => url_for(:controller => "api/ous", :action => "index"), :class => "token_input" %>
          <label>Sympa URL:</label>
          <input id="sympa_url" type="text" class="span6" value="<%= url_for( :controller => 'api/applications', :action => 'show', :id => @application.name, :only_path => false ) %>.txt" disabled />
        </fieldset>
    		<fieldset class="tab-pane" id="roles">
          <table>
            <tr>
              <th>Token</th>
              <th>Default</th>
              <th>Descriptor</th>
              <th>Description</th>
              <th><!-- Actions --></th>
            </tr>
            <% @application.roles.each_with_index do |role, i| %>
              <%= f.fields_for :roles, role, :child_index => i do |builder| %>
                <%= render "role_fields", :f => builder %>
              <% end %>
            <% end %>
          </table>
          <p><%= link_to_add_fields "Add Role", f, :roles %></p>
        </fieldset>
    		<fieldset class="tab-pane" id="ad">
          <% @application.roles.each_with_index do |role, i| %>
            <%= f.fields_for :roles, role, :child_index => i do |builder| %>
              <%= render "role_ad_fields", :f => builder %>
            <% end %>
          <% end %>
          <p>
            <small>The group name is appended after the base AD path configured by the administrator.</small>
          </p>
        </fieldset>
        <% end %>
      </div>
    </div> <!-- /tabbable -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" style="float: left;" id="delete">Delete Application</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="apply">Apply</a>
  </div>
</div>
