<%= javascript_include_tag "controllers/applications.js" %>
<%= javascript_include_tag "controllers/" + params[:controller] %>

<script type="text/javascript">
  templates.templates = $.parseJSON('<%= @templates.map{|x| x.name}.to_json.html_safe %>');
</script>

<div class="row-fluid">
  <div class="span9">
    
    <form class="form-search">
      <%= content_tag :input, nil, {:class => "input-xxlarge search-query", :type => "text", :id => "search_templates", :placeholder => "Search templates…", :data => { :provide => "typeahead", :items => 4, :source => @templates.map{ |x| x.name } } } %>
    </form>
    
    <% current_user.manageable_applications.each_with_index do |app, i| %>
    <script type="text/javascript">
      site.applications[<%= app.id %>] = <%= app.to_json.html_safe %>;
      site.current_user_id = <%= current_user.id %>;
    </script>
    <% end %>

    <% @templates.each do |template| %>
    <%= content_tag :div, :class => "card span9", :data => {:uids => template.assignment_uids} do -%>
      <h3 class="card-title"><%= template.name %></h3>
      <div class="card-content">
        <div class="pins">
          <% template.rules.each do |rule| %>
            <div class="pin">
              <a href="#"><%= rule.condition %> <strong><%= rule.value %></strong></a>
            </div>
          <% end %>
        </div>
      </div>
    <% end -%>
    <% end %>
  
  </div> <!-- /.span9 -->
  <div class="span3">
    
    <form class="form-search">
      <input id="search_people_groups" placeholder="Search people and groups…" type="text" class="input-large search-query" id="search_people_groups">
    </form>
    
    <ul class="pins" id="highlighted_results"></ul>
	  <ul class="pins" id="master_list"></ul>
  </div> <!-- /.span3 -->
</div>

<div id="modal_container"></div>

<script type="text/javascript">
// Construction availbility list
<% @groups.each do |group| %>
  site.add_to_available_list(<%= group.to_json.html_safe %>);
<% end %>
<% @people.each do |person| %>
  site.add_to_available_list(<%= person.to_json.html_safe %>);
<% end %>
</script>
