<div id="entity_details">
  <div class="block withsidebar popup_block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>
			
      <button class="right" style="margin-top: 14px;" id="edit">Edit</button>
      
  		<h2><%= @group.name %></h2>
  	</div>		<!-- .block_head ends -->
  	<div class="block_content">
      <div id="details_view">
    		<div class="sidebar">
    			<ul class="sidemenu">
    				<li><a href="#summary">Summary</a></li>
            <li><a href="#rules">Rules</a></li>
    				<li><a href="#roles">Roles</a></li>
    			</ul>
    		</div>		<!-- .sidebar ends -->
				
        <%= form_for @group, :remote => true do |f| %>
        <%= hidden_field_tag 'entity_id', '2' + @group.id.to_s %>
    		<fieldset class="sidebar_content" id="summary">
        	<p>
            	<%= f.label :name %><br />
            	<%= f.text_field :name, :class => "text small" %>
        	</p>
	
        	<p>
            	<%= f.label :description %><br />
            	<%= f.text_area :description, :class => "wysiwyg small" %>
        	</p>

        	<p>
        		<h2>Owners</h2>
        		<p>
        		  <%= f.text_field :owner_tokens, "data-pre" => @group.owners.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
        		</p>
        	</p>
	
        	<p>
        		<h2>Members</h2>
        		<p>
        		  <%= f.text_field :member_tokens, "data-pre" => @group.members.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
        		</p>
        	</p>
        </fieldset>
    		<fieldset class="sidebar_content" id="rules">
          <table>
          <%= f.fields_for :rules do |builder| %>
            <%= render "rule_fields", :f => builder %>
          <% end %>
          </table>
  
          <p><%= link_to_add_fields "Add Rule", f, :rules %></p>
        </fieldset>
    		<fieldset class="sidebar_content" id="roles">
          <b>To add or remove roles</b> from this group, use the main interface.
        </fieldset>
        <% end %>
      </div> <!-- #group_view -->
    </div> <!-- .block_content ends -->
  </div> <!-- .block ends -->
</div> <!-- .entity_details -->

<script type="text/javascript" src="<%= asset_path "details_modal.js" %>"></script>
