<div class="modal" id="person_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @group.name %></h3>
  </div>
  <div class="modal-body">
    
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#rules" data-toggle="tab">Rules</a></li>
        <li><a href="#roles" data-toggle="tab">Roles</a></li>
      </ul>
      <div class="tab-content">
        <%= form_for @group, :remote => true do |f| %>
        <%= hidden_field_tag 'entity_id', '2' + @group.id.to_s %>
    		<fieldset class="tab-pane active" id="summary">
        	<%= f.label :name %>
        	<%= f.text_field :name %>
        	<%= f.label :description, :class => "control-label" %>
      	  <%= f.text_area :description, :class => "input-xlarge", :rows => 8 %>
    		  <h4>Owners</h4>
    		  <%= f.text_field :owner_tokens, "data-pre" => @group.owners.to_json, "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
    		  <h4>Members</h4>
    		  <p id="members">
    		    <%= f.text_field :member_tokens, "data-pre" => add_class_attr_to_group_json(@group.member_tokens.to_json), "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
    		  </p>
        </fieldset>
    		<fieldset class="tab-pane" id="rules">
          <table>
          <tr>
            <th>Column</th>
            <th>Condition</th>
            <th>Value</th>
            <th><!-- Actions --></th>
          </tr>
          <%= f.fields_for :rules do |builder| %>
            <%= render "rule_fields", :f => builder %>
          <% end %>
          </table>
  
          <p><%= link_to_add_fields "Add Rule", f, :rules %></p>
        </fieldset>
    		<fieldset class="tab-pane" id="roles">
          <b>To add or remove roles</b> from this group, use the main interface.
        </fieldset>
        <% end %>
      </div>
    </div> <!-- /tabbable -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<script type="text/javascript" src="<%= asset_path "details_modal.js" %>"></script>
