<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name, :class => "text" %>
	</p>
	<p>
		<h2>Members</h2>
		<p>
		  <%= f.label :people_tokens, "People" %><br />
		  <%= f.text_field :people_tokens, "data-pre" => @group.people.to_json, "method" => url_for(:controller => "api/people", :action => "index") %>
		</p>
	</p>
  </div>
  <div class="actions">
	<p>
    	<%= f.submit "Save Changes", :class => "submit mid" %>
	</p>
  </div>
<% end %>
