<script id="tmpl-group-rule" type="text/template">
  <tr class="fields" data-rule-id="{{= rule.id }}" style="{{= ( rule._destroy ? 'display: none;' : '' ) }}">
    <td>
      <select id="group_rules_attributes_{{= index }}_column" name="group[rules_attributes][{{= index }}][column]">
        {{ if(rule.column == "ou") { }}
          <option value="ou" selected="selected">Department</option>
        {{ } else { }}
          <option value="ou">Department</option>
        {{ } }}
        {{ if(rule.column == "loginid") { }}
          <option value="loginid" selected="selected">Login ID</option>
        {{ } else { }}
          <option value="loginid">Login ID</option>
        {{ } }}
        {{ if(rule.column == "title") { }}
          <option value="title" selected="selected">Title</option>
        {{ } else { }}
          <option value="title">Title</option>
        {{ } }}
        {{ if(rule.column == "major") { }}
          <option value="major" selected="selected">Major</option>
        {{ } else { }}
          <option value="major">Major</option>
        {{ } }}
        {{ if(rule.column == "affiliation") { }}
          <option value="affiliation" selected="selected">Affiliation</option>
        {{ } else { }}
          <option value="affiliation">Affiliation</option>
        {{ } }}
      </select>
    </td>
    <td>
      <select id="group_rules_attributes_{{= index }}_condition" name="group[rules_attributes][{{= index }}][condition]">
        {{ if(rule.condition == "is") { }}
          <option value="is" selected="selected">is</option>
          <option value="is not">is not</option>
        {{ } else { }}
          <option value="is">is</option>
          <option value="is not" selected="selected">is not</option>
        {{ } }}
      </select>
    </td>
    <td>
      <input id="group_rules_attributes_{{= index }}_value" name="group[rules_attributes][{{= index }}][value]" size="45" type="text" value="{{= rule.value }}">
    </td>
    <td>
      <input id="group_rules_attributes_{{= index }}__destroy" name="group[rules_attributes][{{= index }}][_destroy]" type="hidden" value="{{= (rule._destroy ? 'true' : 'false') }}">
      <button class="btn btn-danger" id="group_rule_remove" type="button">Remove</button>
    </td>
  </tr>
  <input id="group_rules_attributes_{{= index }}_id" name="group[rules_attributes][{{= index }}][id]" type="hidden" value="{{= rule.id }}">
</script>

<div class="modal" id="details_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= @group.name %></h3>
  </div>
  <div class="modal-body">

    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#rules" data-toggle="tab">Rules</a></li>
      </ul>
      <div class="tab-content">
        <%= form_for @group, :remote => true, :url => group_path(@group, :format => "json") do |f| %>
        <%= hidden_field_tag 'group_id', @group.id.to_s %>
    		<fieldset class="tab-pane active" id="summary">
          <span id="corner_summary">
            <span id="group_member_count"><%= @group.member_tokens.length %></span><br />members
          </span>
        	<%= f.label :name %>
        	<%= f.text_field :name %>
        	<%= f.label :description, :class => "control-label" %>
      	  <%= f.text_area :description, :class => "input-xlarge", :rows => 2 %>
    		  <%= f.label :owner_tokens, "Owners" %>
    		  <%= f.text_field :owner_tokens, "data-pre" => @group.owners.to_json, "method" => url_for(:controller => "api/custom", :action => "search"), :class => "token_input" %>
    		  <%= f.label :member_tokens, "Members" %>
    		  <p id="members">
    		    <%= f.text_field :member_tokens, "data-pre" => add_class_attr_to_group_json(@group.member_tokens.to_json), "method" => url_for(:controller => "api/people", :action => "index"), :class => "token_input" %>
            <span id="group-csv-download"><%= link_to "Download as CSV", group_path(@group, :format => 'csv') %></span>
    		  </p>
        </fieldset>
    		<fieldset class="tab-pane" id="rules">
          <table>
            <thead>
              <tr>
                <th>Column</th>
                <th>Condition</th>
                <th>Value</th>
                <th><!-- Actions --></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

          <p><button class="btn" id="group_rule_add">Add Rule</button></p>
        </fieldset>
        <% end %>
      </div>
    </div> <!-- /tabbable -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" style="float: left;" id="delete">Delete Group</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="apply">Apply</a>
  </div>
</div>

<script type="text/javascript">
  details_modal.group_rules = <%= @group.rules.to_json.html_safe %>;
</script>
