<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Group: <%= @group.name %></h2>
		
		<ul class="tabs">
			<li><a href="#">Overview</a></li>
			<li><%= link_to 'Edit', edit_group_path(@group) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<p>
		  <b>Name:</b>
		  <%= @group.name %>
		</p>

		<p>
		  <b>Description:</b>
		  <% if @group.description.nil? %>
		    <i>None</i>
		  <% else %>
		    <%= @group.description %>
		  <% end %>
		</p>
		
		<h2>Members</h2>
		<ul>
			<% for p in @group.members %>
				<li><%= link_to p.name, p %></li>
			<% end %>
			<% if @group.members.length == 0 %>
				<li><i>No members assigned</i></li>
			<% end %>
		</ul>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
