<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Classifications</h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @classifications.each do |classification| %>
      <tr>
        <td><%= classification.name %></td>
        <td><%= link_to 'Show', classification %></td>
        <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
        <td><%= link_to 'Destroy', classification, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </table>

		<br />

		<%= link_to 'New Classification', new_classification_path %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
