<%= form_for [@application, @role] do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "text" %>
	</p>
  </div>
  <div class="field">
	<p>
    <%= f.label :default %><br />
    &nbsp;<%= f.radio_button :default, true %> Enabled
    &nbsp;<%= f.radio_button :default, false %> Disabled
	</p>
  </div>
  <div class="field">
	<p>
		<h2>Members</h2>
		<p>
		  <%= f.label :people_tokens, "People" %><br />
		  <%= f.text_field :people_tokens, "data-pre" => @role.people.to_json %>
		</p>
	</p>
  </div>
  <div class="actions">
	<p>
    <%= f.submit "Submit", :class => "submit mid" %>
	</p>
  </div>
<% end %>
