<%= form_for [@application, @role] do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "text" %>
	</p>
  </div>
  <div class="actions">
	<p>
    <%= f.submit "Create", :class => "submit mid" %>
	</p>
  </div>
<% end %>
