<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Roles published by <%= @application.name %></h2>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<table>
		  <tr>
		    <th>Name</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @roles.each do |role| %>
		  <tr>
		    <td><%= role.name %></td>
		    <td><%= link_to 'Show', application_roles_path(role) %></td>
		    <td><%= link_to 'Edit', edit_application_role_path(role) %></td>
		    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Role', new_application_role_path %>
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
