<% if notice %>
<div class="message success"><p><%= notice %></p></div>
<% end %>

<div class="block withsidebar">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		
		<h2>Roles published by <%= @application.name %></h2>
		
		<ul class="tabs">
			<li><a href="#">Overview</a></li>
			<li><%= link_to 'Edit', edit_application_path(@application) %></li>
		</ul>
	</div> <!-- .block_head -->
	
	<div class="block_content">
		<div class="sidebar">
			<ul class="sidemenu">
				<li class="inactive"><%= link_to "Basics", application_path(@application) %></li>
				<li class="active"><%= link_to "Roles", application_roles_path(@application) %></li>
			</ul>
			
			<p><strong>Some notification text.</strong> Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.</p>
		</div>		<!-- .sidebar ends -->
		
		<div class="sidebar_content" id="sb1">
			<% if @roles.length > 0 %>
				<table>
				  <tr>
				    <th>Default</th>
				    <th>Token</th>
					  <th>Descriptor</th>
				    <th></th>
				  </tr>

				<% @roles.each do |role| %>
				  <tr>
				    <td><center><%= check_box("role", "default", :disabled => true, :checked => role.default) %></center></td>
				    <td><%= link_to role.token, application_role_path(@application, role) %></td>
					  <td><%= link_to role.descriptor, application_role_path(@application, role) %></td>
					  <td><%= link_to 'Delete', [@application, role], :confirm => 'Are you sure?', :method => :delete %></td>
				  </tr>
				<% end %>
				</table>
			<% else %>
				<p>
				<i>No roles currently defined</i>
				</p>
			<% end %>

			<br />

			<%= button_to 'Create Role', new_application_role_path, :class => "submit mid", :method => "get" %>
		</div> <!-- sb1 -->
		<div class="sidebar_content" id="sb2">
		</div> <!-- sb2 -->
	</div> <!-- .block_content -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div> <!-- .block -->
