<%= javascript_include_tag params[:controller] %>

<div style="float: right; clear: both; margin: 0.5em; margin-top: -1em;">
  <select class="styled">
  	<optgroup label="Subordinates">
  		<option>View As ...</option>
  		<% current_user.subordinates.each do |person| %>
	      <option><%= person.name %></option>
	    <% end %>
  	</optgroup>
  </select>
</div> <!-- block -->

<div style="clear: both;"></div>

<div class="block span-80 left">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Manage</h2>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content">
	  
    <div style="width: 50%; float: left;">
      <% current_user.applications.each_with_index do |app, i| %>
      <script type="text/javascript">
        site.applications[<%= app.id %>] = <%= app.to_json.html_safe %>;
        site.current_user_id = <%= current_user.id %>;
      </script>
	    <div class="card" data-application="<%= app.to_json %>" data-application-id="<%= app.id %>">
  	    <div class="card_head">
  	      <div class="bheadl"></div>
      		<div class="bheadr"></div>

  	      <h2><%= app.display_name %></h2>
  	    </div>
  	    <div class="card_content">
  	      <p>
  	        <i>“<%= app.description %>”</i>
  	      </p>

          <div class="pins">
            <div class="placeholder">Drag people and groups here</div>
          </div>
  	    </div> <!-- card_content -->
      	<div class="bendl"></div>
      	<div class="bendr"></div>
  	  </div> <!-- card -->
      
      <% if i >= (current_user.applications.length / 2) - 1 %>
        </div>
        <div style="width: 50%; float: left;">
      <% end %>
	  <% end %>
    </div>
    
	</div>		<!-- .block_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>

<div class="block span-20 right">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<ul class="tabs" style="float: none; margin-left: 35px;">
			<li><a href="#groups">Groups</a></li>
			<li><a href="#people">People</a></li>
		</ul>
	</div>		<!-- .block_head ends -->
	
	<div class="block_content tab_content" id="groups">
	  <ul class="pins">
	    <% current_user.owns.each do |group| %>
	      <li data-pin-type="group" data-pin-entity="<%= group.to_json %>"><%= group.name %></li>
	    <% end %>
        <li class="new" data-pin-type="group" data-pin-entity="0">Create New Group</li>
		</ul>
	</div>		<!-- .block_content .tab_content ends -->

	<div class="block_content tab_content" id="people">
	  <ul class="pins">
	    <% current_user.subordinates.each do |person| %>
      <li data-pin-type="person" data-pin-entity="<%= person.to_json %>"><%= person.name %></li>
      <% end %>
    </ul>
    <% if current_user.subordinates.count == 0 %>
    <i>You have no subordinates.</i>
    <% end %>
	</div>		<!-- .block_content .tab_content ends -->
	
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>

<script type="text/javascript">
  // Construct the initial pin layout
  
  // Groups
  <% current_user.owns.each do |group| %>
    <% group.roles.each do |role| %>
      site.register_role( <%= group.to_json.html_safe %>, <%= role.to_json.html_safe %> )
    <% end %>
  <% end %>

  // People
  <% current_user.subordinates.each do |person| %>
    <% person.roles.each do |role| %>
      site.register_role( <%= person.to_json.html_safe %>, <%= role.to_json.html_safe %> )
    <% end %>
  <% end %>
</script>
