<div class="block small left" style="background-color: inherit; border-bottom: none; background: none;">
	<div class="block">
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>

			<h2>Managements</h2>
		</div>		<!-- .block_head ends -->
		<div class="block_content">
		
			<% for group in @user.managements %>
		
				<div id="group_whatever">
					<center><h2><%= group.name %></h2></center>
					<table cellpadding="0" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<% for person in group.people %>
							<tr>
								<td><a href="#"><%= person.name %></a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div> <!-- group_whatever -->
		
			<% end %>
		</div>		<!-- .block_content ends -->

		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>		<!-- .block.small.left ends -->
	
	<div class="block">
		<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>

			<h2>Assignments</h2>
		</div>		<!-- .block_head ends -->
		<div class="block_content">
		
			<% for group in @user.groups %>
		
				<div id="group_whatever">
					<center><h2><%= group.name %></h2></center>
					<table cellpadding="0" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<% for person in group.people %>
							<tr>
								<td><a href="#"><%= person.name %></a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div> <!-- group_whatever -->
		
			<% end %>
		</div>		<!-- .block_content ends -->

		<div class="bendl"></div>
		<div class="bendr"></div>
	</div>		<!-- .block.small.left ends -->

</div>

<div class="block small right">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2>Assignables</h2>
	</div>		<!-- .block_head ends -->



	<div class="block_content">
		<h2>Positions</h2>
		<table cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="#">Something</a></td>
				</tr>
			</tbody>
		</table>
		
		<h2>People</h2>
		<table cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% for person in @people %>
				<tr>
					<td><a href="#"><%= person.name %></a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
	</div>		<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>		<!-- .block.small.right ends -->
	
