<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<title>Rights Management</title>

  <%= stylesheet_link_tag "application" %>	
  <%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Rights Management", root_url, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <%= li_link_with_class({:title => 'Manage', :controller => 'applications', :action => 'index'}) %>
            <%= li_link_with_class({:title => 'Templates', :controller => 'templates', :action => 'index'}) %>
            <%= li_link_with_class({:title => 'Settings', :controller => 'site', :action => 'settings'}) %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
  
  <div id="main-body" class="container-fluid">
	  <%= yield %>
  </div><!-- /.container-fluid -->
	
  <div class="status_bar"></div>
</body>
</html>
