<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>DSS Rights Management</title>

  <%= stylesheet_link_tag "application" %>
	
	<%= csrf_meta_tag %>
	
	<!--[if lt IE 8]><%= stylesheet_link_tag "ie/ie.css" %><![endif]-->
	<!--[if IE]><%= javascript_include_tag "ie/excanvas.js" %><![endif]-->

  <%= javascript_include_tag "application" %>
</head>
<body>
	<div id="hld">
		<div class="wrapper">
			<div id="header">
				<div class="hdrl"></div>
				<div class="hdrr"></div>
				
				<h1><%= image_tag "ucd.png", :alt => "UC Davis (logo)", :style => "margin-bottom: -1px;" %>&nbsp;&nbsp;&nbsp;<a href="#">DSS IT</a></h1>
				
				<ul id="nav">
					
					<% if current_controller?( :controller => "site" ) %>
						<li class="active"><%= link_to "Overview", :controller => "site", :action => "index" %></li>
					<% elsif %>
						<li><%= link_to "Overview", :controller => "site", :action => "index" %></li>
					<% end %>
					<% if permitted_to? :index, :people %>
						<% if current_controller?( :controller => "people" ) %>
							<li class="active"><%= link_to "Users", people_path %>
						<% elsif %>
							<li><%= link_to "Users", people_path %>
						<% end %>
							<ul>
								<li><%= link_to "View All", people_path %></li>
								<li><%= link_to 'Create New User', new_person_path %></li>
								<li><%= link_to "Import From LDAP", :controller => "people", :action => "new_from_ldap" %></li>
							</ul>
						</li>
					<% end %>
					<% if permitted_to? :index, :groups %>
						<% if current_controller?( :controller => "groups" ) %>
							<li class="active"><%= link_to "Groups", groups_path %>
						<% elsif %>
							<li><%= link_to "Groups", groups_path %>
						<% end %>
							<ul>
								<li><%= link_to "View All", groups_path %></li>
								<li><%= link_to 'Create New Group', new_group_path %></li>
							</ul>
						</li>
					<% end %>
					<% if permitted_to? :index, :ous %>
						<% if current_controller?( :controller => "ous" ) %>
							<li class="active"><%= link_to "Organizations", ous_path %>
						<% elsif %>
							<li><%= link_to "Organizations", ous_path %>
						<% end %>
							<ul>
								<li><%= link_to "View All", ous_path %></li>
								<li><%= link_to 'Create New Organization', new_ou_path %></li>
							</ul>
						</li>
					<% end %>
					<% if permitted_to? :index, :applications %>
						<% if current_controller?( :controller => "applications" ) %>
							<li class="active"><%= link_to "Applications", applications_path %>
						<% elsif %>
							<li><%= link_to "Applications", applications_path %>
						<% end %>
							<ul>
								<li><%= link_to "View All", applications_path %></li>
								<li><%= link_to 'Register New Application', new_application_path %></li>
							</ul>
						</li>
					<% end %>
				</ul>
				
				<p class="user">Hello, <a href="#"><%= current_user.first %></a> | <%= link_to "Logout", :controller => "site", :action => "logout" %></p>
			</div> <!-- #header -->
			
			<%= yield %>
			
			<div id="footer">
				<p class="left"><a href="http://it.dss.ucdavis.edu/">Division of Social Science IT</a></p>
			</div>
		</div> <!-- wrapper -->
	</div> <!-- #hld -->
</body>
</html>
