<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<title>Roles Management</title>

  <%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body>

  <% _has_role? :admin do %>
  <script type="text/javascript">
    window.application_last_updated = "<%= LAST_UPDATED %>";
  </script>
  <% end %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Roles Management", applications_url, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="dropdown">
              <% _has_role? :admin do %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrate <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% unless session[:impersonation_id].nil? %>
                  <li><a href="#unimpersonate">Unimpersonate</a></li>
                <% else %>
                  <li><a href="#impersonate">Impersonate…</a></li>
                <% end %>
                <li class="divider"></li>
                <li><a href="#api-keys">API Keys…</a></li>
                <li><a href="#whitelist">API Whitelist…</a></li>
                <li class="divider"></li>
                <li><a href="#">Event Log…</a></li>
                <li><a href="#">Queued Jobs…</a></li>
                <li class="divider"></li>
                <li><a href="#about">About…</a></li>
              </ul>
              <% end %>
              <%= li_link_with_class({:title => 'Log out', :controller => 'site', :action => 'logout'}) %>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div id="main-body" class="container-fluid"><%= yield %></div>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  
  <div id="get-support"><a href="https://sysaid.dss.ucdavis.edu/SubmitSR.jsp?formID=0&reRoute=1&isLogged=1&noframe=null&populateSR_id=0&pageID=1&subPageID=undefined&changes=1&right2left=false&autoDescriptionTemplate=N&problem_type=Websites+and+Web+Apps&subcategory=Error+or+Problem&title=Roles+Management+Bug+Report&desc=What+were+you+doing+when+the+error+occurred%3F%0D%0A%0D%0AIf+you+received+an+error+message%2C+what+was+the+exact+text%3F%0D%0A%0D%0AWhat+web+browser+and+version+were+you+using%3F" target="_blank"><button class="btn btn-danger"><i class="icon-comment icon-white" style="margin-right: 8px;"></i>Report a Problem</button></a></div>
</body>
</html>
