<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<title>Roles Management</title>

  <%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body>

  <% _has_role? :admin do %>
  <script type="text/javascript">
    window.application_last_updated = "<%= LAST_UPDATED %>";
  </script>
  <% end %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Roles Management", root_url, :class => "brand" %>
        <div class="nav-collapse">
          <% _has_role? :admin do %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrate <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% unless session[:impersonate].nil? %>
                  <li><a href="#unimpersonate">Unimpersonate</a></li>
                <% else %>
                  <li><a href="#impersonate">Impersonate…</a></li>
                <% end %>
                <li><a href="#whitelist">API Whitelist…</a></li>
                <li class="divider"></li>
                <li><a href="#">Event Log…</a></li>
                <li><a href="#">Queued Jobs…</a></li>
                <li class="divider"></li>
                <li><a href="#about">About…</a></li>
              </ul>
              <%= li_link_with_class({:title => 'Log out', :controller => 'site', :action => 'logout'}) %>
            </li>
          </ul>
          <% end %>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div id="main-body" class="container-fluid"><%= yield %></div>

  <div id="loading-backdrop" />

  <script type="text/json" id="bootstrap">
    {
      "current_user": <%= current_user.to_json %>,
      "applications": <%= @applications.to_json %>
    }
  </script>

  <%= content_for :javascript do -%>
    <script type="text/javascript">
      $(function () {
        var div = $('<div></div>');
        div.html($('#bootstrap').text());
        var data = JSON.parse(div.text());

        DssRm.initialize(data);
      });
    </script>
  <% end %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
